body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto;
}

/* html *
{
   font-family: Roboto !important;
} */

.ui.small.image.ProjectImage:hover {
  background-color: grey !important;
}

.ui.red.massive.circular.floating.label {
  position: absolute;
  z-index: 100;
  top: -1em;
  right: 100%;
  left: 0%;
  margin: 0 0 0 -1em!important;
}
