<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="databaseURL" value="bolt://csse-s402g2.canterbury.ac.nz:7687" />
        <add key="databaseHttpURL" value="http://csse-s402g2.canterbury.ac.nz:7474" />
        <add key="databaseUsername" value="neo4j" />
        <add key="databasePassword" value="motive" />
    </appSettings>
</configuration>
